@page "/"
@inject BlazorBlobStream.BlobFileService BlobFileService


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<InputFile @ref="inputFile" OnChange="OnFileChange"/>

<h2>First byte: @firstByte</h2>
<h2>Last byte: @lastByte</h2>

@code {
    InputFile inputFile = default!;
    byte? firstByte;
    byte? lastByte;

    async Task OnFileChange(InputFileChangeEventArgs fileChange)
    {
        var blobFiles = await BlobFileService.GetBlobFiles(inputFile);
        var blobFile = blobFiles.First();
        using var fileStream = blobFile.OpenReadStream(maxAllowedSize: blobFile.Size);
        byte[] buffer = new byte[1]; ;

        fileStream.Seek(-1, SeekOrigin.End);        
        await fileStream.ReadAsync(buffer, 0, 1);
        lastByte = buffer[0];

        fileStream.Position = 0;
        await fileStream.ReadAsync(buffer, 0, 1);
        firstByte = buffer[0];
    }
}